/**
GENERAL
 */

body {
  margin-top: 120px !important;
}

.page-body {
  z-index: 0;
}

.overline {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

.page-wrapper {
  // Min height = viewport height - navbar height
  min-height: calc(100vh - 120px) !important;
}

.contact-wrapper{
  display: flex;
}

.contact-field{
  padding: 5px 15px 5px 15px;
  margin: 0 4px 0 4px;
  border:none;
  background-color: rgb(0, 55, 108);
  color: white;
  transition: 0.3s;
  border-radius: 4px;
  box-shadow: 2px 2px 2px lightgray;
}

.contact-field:first-child{
  margin-left: 0px;
}

.contact-field:hover{
  opacity: 0.8;
}


/**
NAVBAR
 */

.navbar-brand img {
  max-height: 100px !important;
}

.navbar {
  // position: absolute !important;
  height: 120px !important;
  border-bottom-style: solid;
  border-bottom-color: #ccd6e0;
  border-bottom-width: 15px;
}

.navbar .navbar-nav .nav-link.active {
  color: rgb(0, 55, 108) !important;
  border-bottom: 1px solid rgb(0, 55, 108);
  padding-bottom: 3px;
}

@media (max-width: 992px) {
  .navbar-brand{
    margin: 0 0 0 auto;
  }

  .mobile-img {
    margin-right: 20px;
  }
}

@media (max-width: 576px) {
  .mobile-img {
    max-width: 250px !important;
  }
}

/**
RESEARCH PROJECTS
 */

/**
Overwrite HERO defaults
 */
.hero-lead{
  font-size: 16px;
}

.hero-title{
  font-size: 2.25em;
}

@media only screen and (max-width: 600px) {
  .hero-title{
    margin-bottom: 0.5em;
  }
}

/**
ARTICLE OVERWRITE
 */
.article h1 {
  font-size: 1.75em;
}

.article-style {
  font-size: 0.85em;
}

/**
HELPERS
 */

.see-all{
  text-transform: none;
}
