/**
GENERAL
 */

body {
  margin-top: 120px !important;
}

.overline {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

.page-wrapper {
  // Min height = viewport height - navbar height
  min-height: calc(100vh - 120px) !important;
}

.contact-wrapper{
  display: flex;
}

.contact-field{
  padding: 5px 15px 5px 15px;
  margin: 0 4px 0 4px;
  border:none;
  background-color: rgb(0, 55, 108);
  color: white;
  transition: 0.3s;
}

.contact-field:first-child{
  margin-left: 0px;
}

.contact-field:hover{
  opacity: 0.8;
}


/**
NAVBAR
 */

.navbar-brand img {
  max-height: 100px !important;
}

.navbar {
  // position: absolute !important;
  height: 120px !important;
  border-bottom-style: solid;
  border-bottom-color: #ccd6e0;
  border-bottom-width: 15px;
}

/**
Overwrite HERO defaults
 */
.hero-lead{
  font-size: 16px
}

/**
HELPERS
 */

.see-all{
  text-transform: none;
}
