/**
GENERAL
 */

body {
  margin-top: 120px !important;
}

.overline {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

.page-wrapper {
  // Min height = viewport height - navbar height
  min-height: calc(100vh - 120px) !important;
}

/**
NAVBAR
 */

.navbar-brand img {
  max-height: 100px !important;
}

.navbar {
  // position: absolute !important;
  height: 120px !important;
  border-bottom-style: solid;
  border-bottom-color: #ccd6e0;
  border-bottom-width: 15px;
}

/**
Overwrite HERO defaults
 */
.hero-lead{
  font-size: 16px
}

/**
HELPERS
 */

span {
  content: "\2014";
}
